# Project - COVID-19 Analysis [EDA & Visualization]

### Importing libraries & data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [2]:
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

<ipython-input-2-b68d41771c41>:1: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')

==========

## EXPLORING SYRIA DATA

### Listinf all countries / regions in our data

#### Let's first get 'Syria' data

In [36]:
df.location.unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low income', 'Lower middle income', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [35]:


df_syria.reset_index(drop = True , inplace = True)


df_syria

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,SYR,Asia,Syria,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1,SYR,Asia,Syria,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
2,SYR,Asia,Syria,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
3,SYR,Asia,Syria,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
4,SYR,Asia,Syria,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,SYR,Asia,Syria,2023-11-26,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1424,SYR,Asia,Syria,2023-11-27,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1425,SYR,Asia,Syria,2023-11-28,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1426,SYR,Asia,Syria,2023-11-29,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1427,SYR,Asia,Syria,2023-11-30,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN

In [17]:
df_syria.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,SYR,Asia,Syria,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1,SYR,Asia,Syria,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
2,SYR,Asia,Syria,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
3,SYR,Asia,Syria,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
4,SYR,Asia,Syria,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN

In [18]:
df_syria.head(10).style.background_gradient(cmap='Reds')

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3931: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3932: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [19]:
df_syria.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1423,SYR,Asia,Syria,2023-11-26,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1424,SYR,Asia,Syria,2023-11-27,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1425,SYR,Asia,Syria,2023-11-28,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1426,SYR,Asia,Syria,2023-11-29,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1427,SYR,Asia,Syria,2023-11-30,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN

In [20]:
df_syria.head(10).style.background_gradient(cmap='Reds')

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3931: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3932: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [21]:
df_syria.sample(6)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
727,SYR,Asia,Syria,2021-12-30,50204.0,37.0,41.857,2889.0,5.0,4.286,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
108,SYR,Asia,Syria,2020-04-20,39.0,1.0,2.000,3.0,1.0,0.143,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
370,SYR,Asia,Syria,2021-01-07,11988.0,98.0,92.000,747.0,6.0,6.143,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
961,SYR,Asia,Syria,2022-08-21,56838.0,7.0,19.714,3160.0,0.0,0.429,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
161,SYR,Asia,Syria,2020-06-12,164.0,12.0,5.714,6.0,0.0,0.000,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
799,SYR,Asia,Syria,2022-03-12,55288.0,45.0,56.286,3110.0,3.0,3.000,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN

In [22]:
df_syria.sample(6).style.background_gradient(cmap='Reds')

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3931: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3932: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

### Creating a summary table for the most recent 'Syria' data

In [23]:
df_syria[['total_cases', 'new_cases', 'total_deaths', 'new_deaths' ]]

      total_cases  new_cases  total_deaths  new_deaths
0             NaN        0.0           NaN         0.0
1             NaN        0.0           NaN         0.0
2             NaN        0.0           NaN         0.0
3             NaN        0.0           NaN         0.0
4             NaN        0.0           NaN         0.0
...           ...        ...           ...         ...
1423      57423.0        0.0        3163.0         0.0
1424      57423.0        0.0        3163.0         0.0
1425      57423.0        0.0        3163.0         0.0
1426      57423.0        0.0        3163.0         0.0
1427      57423.0        0.0        3163.0         0.0

[1428 rows x 4 columns]

In [24]:
df_syria_recent = df_syria[df_syria['date'] == df_syria.date.max()]
df_syria_recent

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1427,SYR,Asia,Syria,2023-11-30,57423.0,0.0,0.0,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN

In [25]:
df_syria_recent[['date','total_cases', 'new_cases', 'total_deaths', 'new_deaths' ]]

            date  total_cases  new_cases  total_deaths  new_deaths
1427  2023-11-30      57423.0        0.0        3163.0         0.0

### Calculating the maximum values of 'Syria' data

In [26]:
df_syria[['total_cases', 'new_cases', 'total_deaths', 'new_deaths' ]].max()

total_cases     57423.0
new_cases         728.0
total_deaths     3163.0
new_deaths         21.0
dtype: float64

### The highest date recorded for death in Syria

In [28]:
df_syria[df_syria['total_cases'] == df_syria['total_cases'].max()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1078,SYR,Asia,Syria,2022-12-16,57423.0,1.0,1.714,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1079,SYR,Asia,Syria,2022-12-17,57423.0,0.0,1.571,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1080,SYR,Asia,Syria,2022-12-18,57423.0,0.0,1.429,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1081,SYR,Asia,Syria,2022-12-19,57423.0,0.0,1.286,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1082,SYR,Asia,Syria,2022-12-20,57423.0,0.0,0.429,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,SYR,Asia,Syria,2023-11-26,57423.0,0.0,0.000,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1424,SYR,Asia,Syria,2023-11-27,57423.0,0.0,0.000,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1425,SYR,Asia,Syria,2023-11-28,57423.0,0.0,0.000,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1426,SYR,Asia,Syria,2023-11-29,57423.0,0.0,0.000,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
1427,SYR,Asia,Syria,2023-11-30,57423.0,0.0,0.000,3163.0,0.0,0.0,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN

In [30]:
df_syria[df_syria['new_deaths'] == df_syria['new_deaths'].max()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
655,SYR,Asia,Syria,2021-10-19,39488.0,402.0,322.714,2429.0,21.0,11.571,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN
657,SYR,Asia,Syria,2021-10-21,40630.0,728.0,405.143,2467.0,21.0,14.429,...,NaN,70.598,1.5,72.7,0.567,22125242.0,NaN,NaN,NaN,NaN

In [31]:
df_syria.loc[df_syria['new_deaths'].idxmax()]['date']

'2021-10-19'

In [32]:
df_syria[df_syria['new_deaths'] == df_syria['new_deaths'].max()]['date']

655    2021-10-19
657    2021-10-21
Name: date, dtype: object

### The average value(s) of daily-recorded data in Syria

In [33]:
df_syria['new_deaths'].mean()

2.2149859943977592

In [34]:
df_syria['new_deaths'].describe()

count    1428.000000
mean        2.214986
std         3.343561
min         0.000000
25%         0.000000
50%         0.000000
75%         4.000000
max        21.000000
Name: new_deaths, dtype: float64